rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pendingEditRequests/{requestId} {
      allow read, create, update, delete: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
